{% extends 'base.html.twig' %}

{% block title %}Training toevoegen{% endblock %}

{% block body %}
    <div class="container mx-auto h-100 flex-1 py-5 px-0 md:px-44">
        <div class="flex flex-col">
            <h1 class="text-4xl font-semibold">Profiel</h1>
            
        </div>
    </div>
{% endblock %}
