form input {
    position: relative !important;
    width: 100% !important;
    min-width: 20rem !important;
    box-sizing: border-box !important;
    padding-top: 1.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-inline: 0.8rem !important;
    background: rgba(226, 226, 226, 0.589) !important;
    outline: none !important;
    color:#111 !important;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2) !important;
}

form label {
    position: absolute !important;
    z-index: 10 !important;
    user-select: none !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding-inline: 0.8rem !important;
    margin-top: 5px !important;
}

.class-image {
    aspect-ratio: 1/1 !important;
}