{% extends 'base.html.twig' %}

{% block title %}Inloggen{% endblock %}

{% block body %}
<div class="container mx-auto h-100 flex-1 flex items-center justify-center py-5 gap-10">
    <div class="border-2 p-8 pt-10 pb-20 flex items-center flex-col">
        <h1 class="text-4xl font-semibold mb-7">Inloggen</h1>

        {{ form_start(registrationForm) }}
        <div class="flex flex-col gap-5">
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>

        <button type="submit" class="btn bg-gray-600 text-white w-full py-2 mt-10" style="
        box-shadow: 0px 3px 3px rgba(0,0,0,0.2);">Inloggen</button>
        {{ form_end(registrationForm) }}
        <p class="mt-4">Geen account? <a href="#" class="underline text-blue-500">Registreren</a></p>
    </div>
</div>
{% endblock %}
